.recommendation-link-item {
  text-decoration: none;
}

.recommendation-link-item:hover {
  border: 1px solid #94a3b8;
}

.recommendation-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90%;
  background: #1f1f30;
  /* border: 1px solid #94a3b8; */
  padding-left: 10px;
  padding-right: 10px;
}

.suggest-state-name {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}
@media screen and (max-width: 768px) {
  .suggest-state-name {
    font-size: 12px;
    line-height: 20px;
  }
}

.stateCode-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 212, 212, 0.16);
  width: 76px;
  height: 32px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .stateCode-item {
    width: 60px;
    height: 26px;
  }
}
.state-code {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #facc15;
}
@media screen and (max-width: 768px) {
  .state-code {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
.right-square-icon {
  font-size: 16px;
  line-height: 24px;
  color: #facc15;
  border-radius: 14px;
  margin-left: 5px;
}
