.faq-item-card {
  display: flex;
  flex-direction: column;
}

.question {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #94a3b8;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .question {
    font-size: 14px;
  }
}

.answer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .answer {
    font-size: 14px;
  }
}
